.homhlo-sae {
  text-align: center;
  padding: 2em;
}

.homhlo-sae h1 {
  font-family: 'Poppins', sans-serif;
  color: rgb(235, 21, 21);
  font-size: 3.5rem;
  text-shadow: 1px 1px 0 rgb(0, 0, 0), 2px 2px 0 rgb(148, 31, 31);
  position: relative;
}

.homcontainer-fluid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.homevent-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .homevent-content {
    flex-direction: column;
    text-align: center;
  }

  .homevent-content div {
    order: 1;
    max-width: 100%;
  }
}

.homfist-image, .hombaja-image, .homaiml-image {
  width: 450px;
}

.homfist-image img, .hombaja-image img, .homaiml-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.homabout-fist, .homabout-baja, .homabout-aiml {
  max-width: 50%;
  text-align: left;
  margin: 20px;
}

.homabout-fist h1, .homabout-baja h1, .homabout-aiml h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: rgb(235, 8, 8);
  font-size: 36px;
  text-shadow: 1px 1px 0 rgb(0, 0, 0), 2px 2px 0 rgb(211, 21, 21);
}

.homabout-fist p, .homabout-baja p, .homabout-aiml p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #b8bec4;
}

@media (max-width: 480px) {
  .homfist-image, .hombaja-image, .homaiml-image {
    width: 100%;
    margin: 0 auto;
  }

  .homabout-fist h1, .homabout-baja h1, .homabout-aiml h1 {
    font-size: 30px;
  }

  .homabout-fist p, .homabout-baja p, .homabout-aiml p {
    font-size: 18px;
    margin: 10px;
  }
}

@media (max-width: 768px) {
    .homabout-sae p {
        margin: -18px;
        font-size: 16px;
        text-align: center;
    }
}
